<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>User Registration </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if=${param.exit}>
                <div class="alert alert-info">You have successfully registered to the application</div>
            </div>

            <h1>Sign up</h1>
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstname">Firstname : </label> <input
                        id="firstname" type="text" class="form-control" th:field="*{firstname}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastname">Lastname : </label> <input
                        id="lastname" class="form-control" th:field="*{lastname}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">Email : </label> <input
                        id="email" type="email" class="form-control" th:field="*{email}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password : </label> <input
                        type="password" id="password" class="form-control" th:field="*{password}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Register</button>
                    <span>If you are registered <a th:href="@{/login}">log in here</a></span>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>

